@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #4f6d7a;
  --secondary: #c0d6df;
}
body {
  margin: 0;
  font-family: "Poppins";
  background: var(--secondary);
}

p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

header {
  margin-bottom: 30px;
 
}
/* navbar */
header nav {
  display: flex;
  padding: 20px;
  gap: 16px;
  flex: end;
  margin: 0 auto;
  background: var(--primary);
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  border-radius: 4px;
}
header nav a.active {
  background: var(--secondary);
  color: var(--primary) !important;
}

/* page content */
main {
  /* background: var(--primary); */
  margin: 0 auto;
}

/* help layout */
.help-page nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

nav  a {
  border: 5px solid white;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: whitesmoke !important;
}
 nav a:hover {
  border-color: #e8dab2;
}
 nav a:active {
  border-color: #dd6e42;
}
/* faq */
.login-button {
  border: 5px solid white;
  margin-right: 60px;
  margin: 20px 0px 20px 20px;
  background: var(--primary);
  border-radius: 4px;
}

/* main section {
  width: 100%;
  margin: 0 auto;
  background: var(--secondary);
  border: 5px solid #dd6e42;
} */

.profile-margin {
  margin-top: 20px;
}

footer  {
  background: var(--primary);
  bottom:0;
  right:0;
  left:0;
  position: fixed; 
}

footer p{
  background: var(--primary);
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}